<% @user.each do |user| %>

  <p>
    <strong>Username:</strong>
    <%= user['username'] %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user['password'] %>
  </p>

  <p>
    <strong>Emailverified:</strong>
    <%= user['emailverified'] %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user['email'] %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= user['zipcode'] %>
  </p>

<% end %>

<%= link_to 'Back', users_path %>
