<%= form_tag(event_path, method: 'put') do %>
  <% @event.each do |event| %>
    <%= hidden_field_tag(:objectId, event["objectId"]) %>
    <div class="field">
      <%= label_tag(:title, "Title:") %><br>
      <%= text_field_tag(:title, event["title"]) %>
    </div>
    <div class="field">
      <%= label_tag(:address, "Address:") %><br>
      <%= text_field_tag(:address, event["address"]) %>
    </div>
    <div class="field">
      <%= label_tag(:endDate, "End Date:") %><br>
      <%# text_field_tag(:endDate, Date.parse(event["endDate"].to_s)) %>
    </div>
    <div class="field">
      <%= label_tag(:imageThumbUrl, "Image Thumb URL:") %><br>
      <%= text_field_tag(:imageThumbUrl, event["imageThumbUrl"]) %>
    </div>
    <div class="field">
      <%= label_tag(:moreInfo, "More Info:") %><br>
      <%= text_field_tag(:moreInfo, event["moreInfo"]) %>
    </div>
    <div class="field">
      <%= label_tag(:shortDescription, "Short Description:") %><br>
      <%= text_area_tag(:shortDescription, event["shortDescription"]) %>
    </div>
    <div class="actions">
      <%= submit_tag("Submit") %>
    </div>
  <% end %>
<% end %>