<%= form_tag(event_path, method: "put") do %>
  <div class="field">
    <%= label_tag(:title, "Title:") %><br>
    <%= text_field_tag(:title, params["title"]) %>
  </div>
  <div class="field">
    <%= label_tag(:address, "Address:") %><br>
    <%= text_field_tag(:address, params["address"]) %>
  </div>
  <div class="field">
    <%= label_tag(:endDate, "End Date:") %><br>
    <%# text_field_tag(:endDate, Date.parse(params["endDate"].to_s)) %>
  </div>
  <div class="field">
    <%= label_tag(:imageThumbUrl, "Image Thumb URL:") %><br>
    <%= text_field_tag(:imageThumbUrl, params["imageThumbUrl"]) %>
  </div>
  <div class="field">
    <%= label_tag(:moreInfo, "More Info:") %><br>
    <%= text_field_tag(:moreInfo, params["moreInfo"]) %>
  </div>
  <div class="field">
    <%= label_tag(:shortDescription, "Short Description:") %><br>
    <%= text_area_tag(:shortDescription, params["shortDescription"]) %>
  </div>
  <div class="actions">
    <%= submit_tag("Submit") %>
  </div>
<% end %>
