<!-- Temp styles in applicaiton.css -->
<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Address</th>
      <th>Enddate</th>
      <th>Imagethumburl</th>
      <th>Moreinfo</th>
      <th>Shortdescription</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event['title'] %></td>
        <td><%= event['address']%></td>
        <td><%# event['endDate'] %></td>
        <td><%= event['imagethumburl'] %></td>
        <td><%= event['moreinfo'] %></td>
        <td><%= event['shortDescription'] %></td>
        <td><%= link_to 'Show', event_path(event['objectId']) %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event_path(event['objectId']), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>