<div class="row">
  <div class="col-md-3">
    <h1>All Events</h1>
  </div>
  <div class="col-md-9">
    <%= button_to 'New Event', new_event_path, method: 'get', class: "btn btn-primary btn-sm movedown25 float-right" %>
  </div>
</div>
<%# form_tag events_path, :method => 'get' do %>
  <!-- <p>
    <%# text_field_tag :search, params[:search] %>
    <%# submit_tag "Search", :name => nil %>
  </p> -->
<%# end %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= link_to "Title", :sort => "title" %></th>
      <th><%= link_to "Address", :sort => "address" %></th>
      <th><%= link_to "End Date", :sort => "endDate" %></th>
      <th><%= link_to "Short Description", :sort => "shortDescription" %></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event['title'] %></td>
        <td><%= event['address']%></td>
        <td><%= event['endDate'] ? event['endDate'].value.to_date : nil %></td>
        <td><%= event['shortDescription'] %></td>
        <td><%= link_to edit_event_path(event['objectId']) do %>
          <%= fa_icon "edit", class: "edit-icon" %>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @events %>
