<h1>New event</h1>

<%= form_tag(events_path, method: 'post') do %>
    <div class="field">
      <%= label_tag(:title, "Title:") %><br>
      <%= text_field_tag(:title) %>
    </div>
    <div class="field">
      <%= label_tag(:address, "Address:") %><br>
      <%= text_field_tag(:address) %>
    </div>
    <div class="field">
      <%= label_tag(:endDate, "End Date:") %><br>
      <%= date_field_tag(:endDate) %>
    </div>
    <div class="field">
      <%= label_tag(:imageThumbUrl, "Image Thumb URL:") %><br>
      <%= text_field_tag(:imageThumbUrl) %>
    </div>
    <div class="field">
      <%= label_tag(:moreInfo, "More Info:") %><br>
      <%= text_field_tag(:moreInfo) %>
    </div>
    <div class="field">
      <%= label_tag(:shortDescription, "Short Description:") %><br>
      <%= text_area_tag(:shortDescription) %>
    </div>
    <div class="actions">
      <%= submit_tag("Submit") %>
    </div>
  <% end %>

<%= link_to 'Back', events_path %>
